.box.box-solid > .box-header .btn:hover:hover,
.box.box-solid > .box-header a:hover {
  background-color: #307095;
}

.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a.return-button:hover {
  background: #f39c12;
}

/*# sourceMappingURL=public/css/dashboard.css.map */
