$primary-color: #3c8dbc;

.box.box-solid > 
.box-header .btn:hover, .box.box-solid > 
.box-header a {
    &:hover{
        background-color: darken($primary-color, 10%);
    }
}

.box.box-solid > 
.box-header .btn:hover, .box.box-solid > 
.box-header a.return-button:hover{
    background: #f39c12
}

.btn-radio {
    text-align: center;
	width: 100%;
}
.img-radio {
	opacity: 0.5;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}
